{% extends "admin_base.html" %}
{% block content %}
<div id="admin-dashboard">
    <h1 id="admin_users" style="text-align: center;">Admin Dashboard</h1>

    

<div class="dashboard-cards">

    <div class="card">
        <h3>Users</h3>
        <p>{{ user_count }}</p>
    </div>

    <div class="card">
        <h3>Treks</h3>
        <p>{{ trek_count }}</p>
    </div>

    <div class="card">
        <h3>Staff</h3>
        <p>{{ staff_count }}</p>
    </div>

    <div class="card">
        <h3>Bookings</h3>
        <p>{{ bookings_count }}</p>
    </div>

</div>
   
<h2 style="text-align: center; padding-top: 10px;">Bookings</h2>
<table>
    <tr>
        <th>Username</th>
        <th>Trek</th>
        <th>Location</th>
        <th>Status</th>
    </tr>
    {% for b in bookings %}
    <tr>
        <td>{{ b["username"] }}</td>
        <td>{{ b["name"] }}</td>
        <td>{{ b["location"] }}</td>
        <td>{{ b["status"] }}</td>
    </tr>
    {% endfor %}
</table>
</div> 
<h2 style="text-align: center;">Staff</h1>
    <table>
        <tr>
            <th>Staff Id</th>
            <th>Name</th>
            <th>mobile</th>
            <th>Assigned Staff</th>
        </tr>
        {% for s in staff %}
        <tr>
            <td>{{ s["id"] }}</td>
            <td>{{ s["name"] }}</td>
            <td>{{ s["mobile"] }}</td>
            <td>{{ s["assigned_trek"] }}</td>
        </tr>
        {% endfor %}
    </table>


{% endblock %}