{% extends "base.html" %}
{% block content %}

<div id="login_div">
    <h2>Login</h2>

    <form method="POST" id="form_div">
    <input type="text" name="username" placeholder="Email/username" required> <br><br>
    <input type="password" name="password" placeholder="password" required> <br><br>
    <label for="role">Choose a Role</label>
    <select  id="role_button" name="role">
        <option value="user">User</option>
        <option value="staff">Staff</option>
        <option value="admin">Admin</option>
    </select>
    <br><br>
    <button type="submit">Login</button>
    </form>
    {% if msg %}
    <p>{{ msg }}</p>
    {% endif %}

    <p>
        <a href="/register" style="text-decoration: none;">Haven't account? Click here</a>
    </p>
</div>
{% endblock %}
