{% extends "base.html" %}

{% block content %}

<h2>My Bookings</h2>
<table>
<tr>
    <th>Trek</th>
    <th>Location</th>
    <th>Price</th>
    <th>Booking Date</th>
    <th>Status</th>
    <th>Action</th>
</tr>
{% for booking in bookings %}
<tr>
    <td>{{ booking["name"] }}</td>
    <td>{{ booking["location"] }}</td>
    <td>₹{{ booking["price"] }}</td>
    <td>{{ booking["booking_date"] }}</td>
    <td>{{ booking["status"] }}</td>
    <td>

    {% if booking["status"] == "Booked" %}
    <a href="/cancel_booking/{{ booking['id'] }}">
        <button type="button" class="sbtn">Cancel</button>
    </a>
    
    {% else %}
    -
    {% endif %}

</td>
</tr>
{% endfor %}
</table>
<a href="/view_treks" class="sbtn">Back</a>
{% endblock %}