{% extends "base.html %}
{% block content %}
<div>
    <h2>Register</h2>

    <form method="POST">
    <input type="text" name="username" placeholder="Email/username" required> <br><br>
    <input type="number" name="Mobile No" placeholder="Contact" required> <br><br>
    
    <input type="password" name="password" placeholder="password" required> <br><br>
    <label for="role">Choose a Role</label>
    <select  id="role" name="role">
        <option value="user">User</option>
        <option value="staff">Staff</option>
    </select>
    </form>

    <p>
        <a href="/register" style="text-decoration: none;">Haven't account? Click here</a>
    </p>
</div>
{% endblock %}