<!DOCTYPE html>
<html>
<head>
    <title>Staff Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
<h1 style="text-align: center;">Staff Dashboard</h1>
<h3>Welcome {{ staff["name"] }}</h3> <br>
<p style="font-size: 15px;">Status : {{ staff["status"] }}</p> <br>

{% if trek %}
<h2>Your Assigned Trek</h2>
<table border="1">
<tr>
    <th>Name</th>
    <th>Location</th>
    <th>Price</th>
    <th>Slots</th>
</tr>
<tr>
    <td>{{ trek["name"] }}</td>
    <td>{{ trek["location"] }}</td>
    <td>{{ trek["price"] }}</td>
    <td>{{ trek["slots"] }}</td>
</tr>
</table>

{% else %}

<h2>No Trek Assigned</h2>

{% endif %}

<br>
<br>
<div class="staff-links">
<a href="/staff_bookings" class="sbtn" >View My Bookings</a><br><br>
<a href="/update_slots" class="sbtn"> Update Available Slots </a><br><br>
<a href="/update_trek_status" class="sbtn"> Update Trek Status </a><br><br>
<a href="/logout" class="sbtn" style="background-color: red;">Logout</a>
</div>

</body>
</html>