{% extends "base.html" %}
{% block content %}
<h1>Available Treks</h1>
{% for trek in treks %}
<div>
   <form method="GET" action="/view_treks"></form>
    <input type="text" name="search" placeholder="Search Trek">
    <select name="difficulty">
        <option value="">All Difficulty</option>
        <option value="Easy">Easy</option>
        <option value="Moderate">Moderate</option>
        <option value="Hard">Hard</option>
    </select>
    <input type="text" name="location" placeholder="Location">
    <button type="submit">Search</button>

</form>

<br>
   <h3>{{trek["name"]}}</h3> 
   <p>{{trek["location"]}}</p>
   <p>{{trek["price"]}}</p>
   <p>{{trek["slots"]}}</p>
   
<form action="/book/{{ trek['id'] }}" method="POST">    
   {% if trek["slots"]>0 %}
      <button type="submit">Book trek</button>
   {% else %}
      <p>Full</p>
   {% endif %}
   </form>

</div>
{% endfor %}
{% endblock %}